[alias]
    cp = cherry-pick
    ci = commit
    st = status
    co = checkout
    rb = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase -i
    lo = log --decorate --oneline
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --all  --graph --decorate --pretty=oneline --abbrev-commit
    br = !sh -c 'git branch --color $* | grep -v " z-"' -
    dt = difftool
    mt = mergetool
    diffn = diff --no-ext-diff
    fixup = commit --amend -C HEAD
    reword = commit --amend -m
    unchanged = update-index --assume-unchanged
    changed = update-index --no-assume-unchanged
    pullr = pull --rebase
    copr = !"f() { git show-ref -q --verify refs/heads/pr_$1; if [ $? -ne 0 ] ; then git fetch origin refs/pull/$1/head:pr_$1; git checkout pr_$1; else git checkout pr_$1; git pull --rebase origin refs/pull/$1/head; fi; }; f"
    aliases = !"f() { git config --list | grep alias | sed -e 's/alias.//' -e 's/=/ = /'; }; f"
[user]
    name = Sam Bosley
    email = sboz88@gmail.com
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
[core]
    whitespace = -trailing-space
    autocrlf = input
    editor = atom --wait
[push]
    default = matching
[difftool]
    prompt = false
[mergetool]
    prompt = false
